PORT=5000
MONGODB_URI=mongodb+srv://kamaleshjk102007_db_user:1122jk@cluster0.bc4ihw1.mongodb.net/amusement_park_mobile?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=super-secret-key
ADMIN_EMAIL=admin@wonderpark.com
ADMIN_PASSWORD=Admin@123
